* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  min-block-size: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/birthday.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.gift {
  text-align: center;
  font-size: 200px;
  animation: bounce 2s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(2px);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

#surpriseBtn {
  position: relative;
  padding: 24px 28px;
  font-size: 1.1rem;
  border: none;
  border-radius: 30px;
  color: #fff;
  background: linear-gradient(to left, #a00f3f 50%, #d81b60 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  cursor: pointer;
  transition: background-position 0.4s ease-out;
  animation: buttonGlow 2s infinite;
}

#surpriseBtn:hover {
  background-position: left bottom;
}

@keyframes buttonGlow {
  0%,
  100% {
    box-shadow: 0 0 5px #d81b60;
  }
  50% {
    box-shadow: 0 0 20px #d81b60;
  }
}
.mainContainer {
  padding: 32px;
  margin: 40px;
  display: none;
}

.mainContainer h1 {
  font-size: 28px;
  text-align: center;
  min-inline-size: 600px;
}
.text-wrap {
  margin-block-start: 30px;
}
.text-wrap p {
  margin-block-start: 100px;
  inline-size: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: scroll;
  block-size: 40vh;
  border: 2px solid #ccc;
  background: #fff;
  padding: 12px;
  white-space: pre-wrap;
}

.birthday-pic img {
  inline-size: 400px;
  /* block-size: 400px; */
  display: flex;
  margin-block-start: 100px;
}
.birthday-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .container {
    margin-block-start: 500px;
  }

  .mainContainer h1 {
    font-size: 80px;
    min-inline-size: 90%;
  }

  .text-wrap p {
    block-size: 30vh;
    font-size: 28px;
    margin-block-start: 50px;
    padding: 10px;
  }

  .gift {
    font-size: 120px;
  }

  #surpriseBtn {
    padding: 16px 20px;
    font-size: 1rem;
  }

  .birthday-pic img {
    inline-size: 100%;
    margin-block-start: 50px;
  }

  .mainContainer {
    padding: 20px;
    margin: 20px;
  }
}

/* Extra small screens (phones) */
@media (max-width: 480px) {
  h1 {
    font-size: 58px;
    font-family: "Dancing Script", cursive;
  }
  .gift {
    font-size: 361px;
  }

  .text-wrap p {
    block-size: 65vh;
    font-size: 40px;
  }

  #surpriseBtn {
    padding: 46px 12px;
    font-size: 4.9rem;
  }

  .mainContainer h1 {
    font-size: 51px;
  }
}
